{% extends 'layout/layout.html.twig' %}

{% block title %}
  {{ parent() }} - Create meme
{% endblock %}

{% block content  %}

<div class="uk-flex uk-flex-middle uk-flex-wrap-between uk-background-default uk-height-large uk-container uk-width1-1 uk-margin-medium-top" uk-height-viewport="expand: true">
        <div class="uk-width-1-4 uk-margin-large-left uk-flex">
            <h1 class="uk-text-bold fs-80 color-title uk-flex-middle">
            CREATE </br>
            YOUR </br>
            OWN </br>
            MEME </br>
            </h1>
        </div>
        
        <div class="uk-width-1-4 offset-1 uk-margin-large-left"> 

            {% if urlImg != '' %}
                <img src="img/{{ urlImg }}" />
            {%  endif %}

            <img id="output"/>

            {%  if message != "" %}
                <h1 class="{{ type }} red">{{ message }}</h1>    
            {% endif %}

        </div>
         
        <div class="uk-width-1-4 uk-flex uk-flex-column uk-margin-large-left">
            <form method="POST" action="meme" enctype="multipart/form-data">
                    {% if message != '' %}
                        <h1 class= "fs-20 color-title {{ type }}">{{ message }}</h1>
                    {% endif %}
                <div uk-form-custom>
                    <h1 class="uk-heading-divider uk-text-bold">TOOLS</h1>
                    <h2>Upload your own image</h2>
                    <input type="file" name="img" onchange="loadFile(event)">
                    <button class="uk-button uk-button-default" type="button" tabindex="-1">Select</button>
                </div>
                <h3 class="uk-margin-remove-bottom uk-margin-small-top">Text top</h3>
                <input  type="text" id="texttop" name="texttop" placeholder="texttop">
                <h3 class="uk-margin-remove-bottom uk-margin-small-top">Text bottom</h3>
                <input type="text" id="textbottom" name="textbottom" placeholder="textbottom"> <br>
                <input class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom uk-margin-top uk-text-bold color-button bg-button" id="generatememe" type="submit" name="submitForm" value="GENERATE" >
                {% if urlImg != '' %}
                    <a class="uk-button uk-button-default" href="#modal-sections" uk-toggle>Share</a>
                {%  endif %}
                
                
            </form>
            
        </div>
    </div>
    
        
    <!-- Create Modal -->
    <div id="modal-sections" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title marge-left">YOUR MEME</h2>
            </div>
            <div class="uk-modal-body">
                <div class="uk-margin uk-flex uk-flex-column">
                    
                    {% if urlImg != '' %}
                        <img class="block-img-h block-img-w contain-img" src="img/{{ urlImg }}" />
                    {%  endif %}
               
                    <input class="uk-input uk-form-width-large uk-form-small" type="text"  value="generateur_memes/meme/{{ urlImg }}" col="150" disabled>
                    <!-- Your share button code -->
                    <div class="uk-margin-small-top" id="fb-root"></div>
                    <div class=" fb-share-button" data-href="https://generateur_memes/meme/{{ urlImg }}" data-layout="button" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.facebook.com%2Falexandreb.boubou.7&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>
                    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="marge-left twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                <a href="img/{{ urlImg }}" download><button class="uk-button uk-button-primary" type="button" href"">Save</button></a>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}{{ parent() }}{% endblock %}






