{% extends 'layout/layout.html.twig' %}

{% block title %}
  {{ parent() }} - Create meme
{% endblock %}

{% block content  %}
    {% if message.msg != '' %}
        <h1 class="{{ message.type }}">{{ message.msg }}</h1>
    {% endif %}
    
    <form method="POST" action="meme" enctype="multipart/form-data">
        <input type="file" name="img" onchange="loadFile(event)">
        <input type="submit" name="submitForm" value="Générer mon meme">
        <input type="text" id="texttop" name="texttop" placeholder="Top text">
        <input type="text" id="textbottom" name="textbottom" placeholder="Bottom text">
    </form>
   <img name="current_img" class="block-img-h block-img-w contain-img" id="output"/>
<img src="{{ im }}" alt="">
{% endblock %}

{% block javascript %}{{ parent() }}{% endblock %}






